# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll ... third party dlls are included

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib ... third party libs are included

# Executables
*.exe
*.out
*.app
